.container {
    display: flex;
    justify-content: center;
  }
  
  .buttonTrue {
    display: inline-block;
    font-size: 15px;
   
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000;
    background-color: green;
    border: none;
    border-radius: 15px;
  
  }
  
  .buttonFalse {
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000;
    background-color:red;
    border: none;
    border-radius: 15px;
  }